.nav-tabs .nav-link {
  border-bottom: 2px solid  transparent;
  &.active {
    color: $secondary !important;
    background-color: transparent !important;
    border-color:  transparent;
    border-bottom: 2px solid  $secondary;
  }

  &:hover {
    border-color:  transparent;
    border-color:  transparent;
    border-bottom: 2px solid  $info;
  }
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  font-weight: bold !important
}

.todo-bg {
  @include media-breakpoint-up(lg) { 
    background: linear-gradient(172.7deg,#FFD370 53.44%, #FFFFFF 53.45%);
  }
}

.cover-todo {
  &::after {
    content: '編輯中...';
    text-align: center;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($primary, 0.8);
  }
}